/TwitchChatSimulator2015/nbproject/private/
/TwitchChatSimulator2015/target/
/Tira3.1/nbproject/private/
/Tira3.1/build/
/Tira3.2/nbproject/private/
/Tira3.2/build/
/Tira3.6/nbproject/private/
/Tira3.6/build/
/BinaariHakuPuuMaarat/nbproject/private/
/Tira6.3/nbproject/private/
/Tira6.3/build/